@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
/* index.css */
body, html {
  height: 100%;
}

.app-container {
  background: linear-gradient(to bottom right, #3498db, #9b59b6); /* Tạo gradient đẹp */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.bg-gray-500 {
  background: #2c3e50; /* Màu nền mặc định */
}

.text-gray-100 {
  color: #ecf0f1;
}

.text-white {
  color: white;
}

.bg-gradient {
  background: linear-gradient(to bottom right, #3498db, #9b59b6);
}

